.carousel-container {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: hidden; /* Esconde las im치genes que no est치n a la vista */
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out; /* La clave de la animaci칩n */
}

.event-banner {
    min-width: 100%; /* Cada banner ocupa todo el ancho del contenedor */
    position: relative;
}

.event-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* Estilo para los botones de navegaci칩n */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
}

#nextBtn { right: 0; }


.welcome-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f4f4f4; /* O un color que combine con tu marca */
    border-radius: 8px;
    margin: 20px;
}

.welcome-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.welcome-content p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #ff4757; /* Color llamativo */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}